.navBar{
    width:100%;
    height: 80px;
    padding-top: 10px;
    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start; 
    /* justify-content: left; */
    align-items:center;
}


 .mainLogoContainer {
    border: 4px solid rgb(241, 211, 241);
    border-radius: 10px;
    max-width: 95px;
    max-height:95px;
    width:95px;
    height:95px;
    padding-top: 5px;
    padding-left: 15px;
    display: flex;
    /* flex:1; */
    justify-content: flex-start; 

    /* margin-right: auto; */
}

/* 
.rentalText{
    padding: right 90px;
    display: flex;
    justify-content: left;

} */
.links{
    margin-right: 50px;
    width: 100%;
    height:100%;
    display: flex;
  
    justify-content: flex-end; 
    align-items: center; 
   
    /* justify-content: space-between; */
    background: rgb(247, 220, 220);
    color: var(--textColor);
    font-size: .9rem;
    font-weight: 600;

}

.links a {
    text-decoration: none;
    color: rgb(77, 76, 76);
    margin-left: 80px ;
    font-size: 26px;
    display: flex;
    /* flex-direction: flex-end; */
}

a:hover {
    /* a:hover = link being moused over */
    color: rgb(94, 219, 88);
  }